@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

*{

    /* REMOVER TODAS AS MARGENS */
    margin: 0px;
    padding: 0px;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/




:root{
   --cor01 :#c5ebd6;
   --cor02: #83e1ad;
   --cor03: #3ddc84;
   --cor04: #2fa866;
   --cor05: #1a5c37;
   --cor06: #063d1e;

   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque:"Bebas Neue", sans-serif;
   --fonte-android: 'Android', 'cursive';
}


body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\🔗';

}


header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05) );
    min-height:150px ;
    text-align: center;
    padding-top: 30px;

}
header h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.767);
}

header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.767);

}

nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.295);
 
}

nav > a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s ;


    /* transition-duration: DURAÇÃO DA ANIMAÇÃO DE PASSAR O MOUSE
    
    */
}



nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor04);
    border-radius: 5px;
    

}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    /* Arredondando somente a uma parte
    no exemplo a parte de BAIXO: 
    */
    border-bottom-left-radius:  10px ;
    border-bottom-right-radius: 10px;




}

h2{
font-family: var(--fonte-android);

}


main img{
width: 100%;

}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;

}

main h1{
    font-family:var(--fonte-android)
}

main p{

    /*  PARAGRAFO = text-indent: 30px  (EXEMPLO DE NUMERO )*/
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong{
    font-weight: bold;



}

main a{
    text-decoration: none;
    font-weight: bold;
    color: #1a5c37;
    background-color: #83e1adbb;
    padding: 2px 6px;
    
}

main a:hover{
    text-decoration:underline ;
    color: #2fa866;

}

main h2{
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
    font-weight: normal;
}
        /*    ALINHANDO VIDEOS DO YOUTUBE
            Colocar dentro de uma DIV


            fazer as configs necessarias e na div.video colocar
            position: relative;

            criar div.video > iframe

            colocar
            position: absolute;







          */  




div.video{
    background-color: #1a5c37;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5% ;
    left: 5%;
    width: 90% ;
    height: 90%;


}



aside{
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside h3{
    background-color: #1a5c37;
    color: white;
    padding: 10px;
    /* DETALHE IMPORTANDE -  MARGEM NEGATIVA NA DIRETA E NA ESQUERDA!!
    crescer a margem até chegar onde queremos
    */
    margin: -10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px;




}

aside > ul {
    list-style-type: '\2714\00A0\00A0' ;
    list-style-position: inside;
    columns: 2;



}






footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: #2fa866;
    text-decoration: underline;

}